@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background-color: #f0f0f0;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: top center;
}

.main {
    width: 90%;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 30px 30px 60px #bebebe, -30px -30px 60px #ffffff;
}

.weather-app-icon {
    width: 80px;
}

h1 {
    font-size: 24px;
    margin-top: 10px;
}

.location-input {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

#searchInput {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    width: 70%;
}

#searchButton {
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    background-color: #696969;
    color: #fff;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #454545;
}

.weather-container {
    background-color: #c8c8c8;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-date h2 {
    margin: 10px 0;
    font-size: 22px;
}

.location-date small {
    font-size: 14px;
}

.weather-today {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    width: 100%;
}

.weather-cloud {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather-cloud img {
    width: 100px;
}

.weather-cloud h4 {
    font-size: 18px;
    margin-top: -10px;
}

.location-weather small {
    display: block;
    font-size: 16px;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .main {
        padding: 15px;
    }

    .weather-app-icon {
        width: 60px;
    }

    h1 {
        font-size: 20px;
    }

    #searchInput, #searchButton {
        font-size: 14px;
    }

    .location-date h2 {
        font-size: 20px;
    }

    .weather-cloud img {
        width: 80px;
    }

    .weather-cloud h4 {
        font-size: 16px;
    }

    .location-weather small {
        font-size: 14px;
    }
}
